name: Check
on:
  push:
    branches:
      - main
  pull_request:

env:
  EDGEE_API_TOKEN: ${{ secrets.EDGEE_API_TOKEN }}

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up minimal stable Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: Install wasm-tools with cargo binstall
        uses: taiki-e/install-action@v2
        with:
          tool: wasm-tools@1.227.1 # let's keep this pinned for now

      - name: "Set up TinyGo"
        run: |
          wget https://github.com/tinygo-org/tinygo/releases/download/v0.35.0/tinygo_0.35.0_amd64.deb
          sudo dpkg -i tinygo_0.35.0_amd64.deb

      - name: Install edgee
        uses: edgee-cloud/install-edgee-cli@v0.2.0

      - name: Build component
        run: |
          edgee component build

      - name: Verify .wasm file exists
        run: |
          if [ ! -f "./dc_component.wasm" ]; then
            echo "âŒ Error: dc_component.wasm not found" >&2
            exit 1
          fi
